server:
  port: 8082
spring:
  application:
    name: aggregation-service

  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        register: true
        service-name: aggregation-service
        health-check-path: /actuator/health
        health-check-interval: 15s

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/qb_db}
    username: ${SPRING_DATASOURCE_USERNAME:qb_user}
    password: ${SPRING_DATASOURCE_PASSWORD:qb_password}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: top-sales-aggregator-1
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 500
      fetch-max-wait-ms: 1000
      properties:
        spring.json.trusted.packages: "*"
    listener:
      observation-enabled: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ingestion

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://zipkin:9411/api/v2/spans"
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
