fastapi==0.111.0
uvicorn==0.29.0

requests==2.31.0

pandas==2.2.2
numpy<2.0
statsmodels==0.14.2

psycopg2-binary==2.9.9
clickhouse-connect==0.7.0
APScheduler==3.10.4

# Observability
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-zipkin
opentelemetry-instrumentation-fastapi
prometheus-fastapi-instrumentator
