server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/qb_db
    username: qb_user
    password: qb_password

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: ingestion
  flyway:
    enabled: false
    schemas: ingestion,forecasting
    defaultSchema: ingestion
    locations: classpath:db/migration
  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: never
