server:
  port: 8082
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/qb_db
    username: qb_user
    password: qb_password

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: ingestion

  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: always
